body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.divCatName {
    font-size: 18pt;
    cursor: pointer;
    display: inline-block;
}

.divListName {
    font-size: 14pt;
    cursor: pointer;
    display: inline-block;
}

.divTodoName {
    font-size: 12pt;
    cursor: pointer;
    display: inline-block;
}

/* not currently used */
.expander {
    overflow: hidden;
    transition: height 1s;
}

.divLists, .divTodos, .divProperties {
    margin: 0 0 0 40px;
    overflow: hidden;
    transition: height 1s;
}

.divAddList {
    color: blue;
    cursor: pointer;
}

.divAddList:hover {
    text-decoration: underline;
}

#divNewList {
    display: none;
}